.top {
    font-family: Helvetica;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-align: center;

}

.links {
    font-family: Helvetica;
    font-size: 18px;
    color: white;
    text-align: center;
   
}

.body {
    text-align: center;
    background: white;
    font-family: Helvetica;
    font-size: 14px;
    
}

.h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.tophead {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
}

.normal {
    font-family: Helvetica;
    font-size: 14px;
}
.maindividers {
    Font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
    color: black;
}
.lowerplate {
    font-family: Helvetica;
    font-size: 11px;
    color: white;
    background-color: dimgray;
    text-align: left;
    
    

}

a {
    color: white;
}
.back {
    background-image: url('the-flatiron-building.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-family: Helvetica;
    font-size: 18px;
    color: white;
    


}

.bottomdivider {
    Font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
    color: white;
    text-align: center;
}